@CHARSET "ISO-8859-1";

body{
	background-color: #f8f8f8;
}

.outer_panel{
	width: 94%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding: 20px;
	margin: 20px auto 20px;
	
}




.navbar {
    margin-bottom: 0px;
}