@CHARSET "ISO-8859-1";

.outer_panel{
	background-color: #FFFFFF;
    height: 500px;
    width: 80%;
	border: 1px solid #ccc;
	padding: 20px;
	margin: 20px auto;
	
}

.inner_panel{
	position: relative;
	
	width: 100%;
	height: 420px;
	margin: auto;
}

.navbar {
    margin-bottom: 0px;
}