@CHARSET "ISO-8859-1";

body{
	background-color: #f8f8f8;
}

main{
	padding: 20px;

}

.data_upload_header {
	
	width: 100%;
	height: 40px;
	margin-left: 0px;
	
}

.data_upload_header h4{
	
	display:inline-block;
	vertical-align:middle;
	color: #FFFFFF;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 700;
    margin: 8px;
    cursor: default;
}


.data_upload_panel{
	background-color: #ffffff;
	border: 1px solid #ccc;

	
}

.data_upload_stats_panel{
	border: 1px solid #ccc;
	height: 200px;
	width: 600px;
	padding: 20px;
	
}



.data_upload_content{
	
	padding: 10px;
}

.upload_panel{
	border: 1px solid #ccc;
	padding: 20px;
	
}

.upload_stats_panel{
	border: 1px solid #ccc;
	height: 200px;
	width: 600px;
	padding: 20px;
	
}

#uploadFile{
	margin: 10px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px; 
    cursor: pointer;
    opacity: 0;
}

#delete_dataset_form{
	border: 1px solid #ccc;
	padding: 20px;
	width: 36%;
	background: #ffffff;
	z-index: 2;
	margin: auto;
}

.large_2{
    background-color: rgba(0,0,0,0.65);
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
    padding: 15% 15%;
    height: 100%;
    z-index: 1;
}
