@CHARSET "ISO-8859-1";

body *{
font-family: Century Gothic, sans-serif;
	
	
}

body{
	
	background-color: #f8f8f8;
}

.outer_panel{
 	max-width: 900px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding: 20px;
	margin: 40px auto 20px;
	
}

#logged_out_form{
	border: 1px solid #ccc;
	padding: 20px;
	max-width: 480px;
	background: #ffffff;
	z-index: 1002;
	margin: auto;
}

#logged_in_form{
	border: 1px solid #ccc;
	padding: 20px;
	max-width: 480px;
	background: #ffffff;
	z-index: 1002;
	margin: auto;
}


.dataset{
	
	cursor:default;
}

.navbar {
    margin-bottom: 0px;
}

#download_request_form{
	border: 1px solid #ccc;
	padding: 20px;
	width: 70%;
	background: #ffffff;
	z-index: 2;
	margin: auto;
}

.large{
    background-color: rgba(0,0,0,0.65);
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
    padding: 20% 20%;
    height: 100%;
    z-index: 1;
}


#particles-js2{height:100px; width:99%; margin: 5px auto 0px; position:absolute; background:transparent;}
#particles-js1{height:100px; width:99%; margin: 5px auto 0px; border-left: 3px solid  #bfbfbf; border-right: 3px solid  #bfbfbf;  border-top: 3px solid #bfbfbf; background-image: url(../images/bg-fireworks-colour5.svg); background-repeat: no-repeat; background-size: cover;  background-attachment: fixed; background-position: 50% 50%; } 

#particles-js4{height:640px; width:99%; margin: 0px auto 5px; position:absolute; background:transparent;}
#particles-js3{height:640px; width:99%; margin: 0px auto 5px; border-left: 3px solid  #bfbfbf; border-right: 3px solid  #bfbfbf;  border-bottom: 3px solid #bfbfbf; background-image: url(../images/bg-fireworks-colour5.svg); background-repeat: no-repeat; background-size: cover;  background-attachment: fixed; background-position: 50% 50%; } 

.btn-default{
	background-color: #F2F2F2;
	
}

.panel1{

	background-color: #FFFFFF;
	border: 1px solid #cccccc;
	width: 99%;
	padding: 20px;
	margin: 5px auto 0px;
}

