@CHARSET "ISO-8859-1";

body{
	background-color: #f8f8f8;
}

main{
	padding: 20px;

}

.list-group-item-header{	
	background-color: #FFD2A0;
	cursor: default;
	color: #FFFFFF;
}

.list-group-item-header:hover{	
	background-color: #FFD2A0;
	cursor: default;
	color: #FFFFFF;
}

.fileinput-button{
	background-color: #337AB7;
	border-color: #337AB7; 
	color: #FFFFFF; 
}

.fileinput-button:hover{
	background-color: #5393C8;
	border-color: #5393C8; 
	color: #FFFFFF; 
}

.start{
	background-color: #5CB85C;
	border-color: #5CB85C;
	color: #FFFFFF;
}

.start:hover{
	background-color: #8AD38A;
	border-color: #8AD38A;
	color: #FFFFFF;
}

.cancel{
	background-color: #E67373;
	border-color: #E67373;
	color: #FFFFFF;
}

.cancel:hover{
	background-color: #FFA7A7;
	border-color: #FFA7A7;
	color: #FFFFFF;
}




.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px; 
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#uploadFile{
	margin: 10px;
	width: 220px;
}

.upload_panel{
	border: 1px solid #CCCCCC;
	padding: 20px;
	
}

.upload_stats_panel{
	border: 1px solid #CCCCCC;
	height: 200px;
	width: 600px;
	padding: 20px;
	
}

.file_upload_container{
	
	margin: 0px;
	padding: 0px;
}

.file_upload_header {
	
	width: 100%;
	height: 40px;
	margin-left: 0px;
	
}

.file_upload_header h4{
	
	display:inline-block;
	vertical-align:middle;
	color: #FFFFFF;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 700;
    margin: 8px;
    cursor: default;
}


.file_upload_panel{
	border: 1px solid #ccc;
	
}

.file_upload_content{
	background-color: #FFFFFF;
	padding: 30px;
}