@CHARSET "ISO-8859-1";



h1 {
	color: #5cb85c;
}

h4 {
	
	color: #333333;
	margin: 0px;
}

.tor_ibin_header h5{
	margin: 0px;
	color: #5cb85c;
}

.logo{
	
	vertical-align: middle;
	margin: 10px;
}

.container {
    width: 90%;
}

#login{
	width: 40%;
	margin: 10% auto;
	text-align: center;
}

#myNavbar{
	 z-index: 10000;
	
}

.navbar-default .navbar-brand{
    color: #5cb85c;
}

.navbar-default:hover{
    color: #5cb85c;
}

.nav-brand:hover{
	color: #5cb85c;
}


.nav-header{
	color: #5cb85c;
	float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    cursor: default;
	
}

.navbar {
    border-radius: 0px;

}

.shadow{
	height: 1px;
	width: 100%;
	background: #CCCCCC;

}

.hidden{
    display: none;
}

.footer{
	background: #e7e7e7;
}

.large{
    background-color: rgba(0,0,0,0.65);
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
    padding: 10% 15%;
    height: 100%;
    z-index: 1;
}

.checkbox{
	
	margin-top: 0px;
}

.upload_table{
	border: 1px solid #ccc;
	height: 500px;
	overflow: auto;
	padding: 20px;
}

.list-group-item.active {
    background-color: #f0f0f0;
    border-color: #dddddd;
    color: #555;
}
.list-group-item.active:hover {
    background-color: #f0f0f0;
    border-color: #dddddd;
    color: #555;
}

.list-group-item:hover {
    background-color: #ffffff;
    color: #555;
}

.right {
	float: right;
}

.left {
	float: left;
}

.panel-body{
	height: 200px;
	
}

.navbar{
	z-index: 10;
}

.background_img{
	position: absolute;
    top: 14%;
    left: 6%;
    z-index: -50;
}

.background_img_2{
	position: absolute;
    top: 14%;
    left: 6%;
    z-index: -100;
}

