@CHARSET "ISO-8859-1";



h4 {
	
	color: #333333;
	margin: 0px;
}

h5 {
	
	font-weight: bold;
}
.navbar {
    margin-bottom: 0px;
}

.bold{
	font-weight: bold;
}


.border{
	
	border: 2px solid #e0e0e0;
}

.logo{
	
	vertical-align: middle;
	margin: 10px;
}

.container {
    width: 90%;
}

#login{
	width: 40%;
	margin: 10% auto;
	text-align: center;
}

#myNavbar{
	 z-index: 10000;
	 padding-left: 0px;
	
}
.container-fluid{
	
	padding-left: 0px;
}


.navbar {
    border-radius: 0px;

}

.nav-header {

    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    cursor: default;
    margin: 0px;
}


.shadow{
	height: 1px;
	width: 100%;
	background: #CCCCCC;

}

.hidden{
    display: none;
}

.footer{
	background: #e7e7e7;
}

.large{
    background-color: rgba(0,0,0,0.65);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
    padding: 15% 15%;
    height: 100%;
    z-index: 1001;
    overflow-y: scroll;
}

.noscroll { overflow: hidden; }

.checkbox{
	
	margin-top: 0px;
}

.upload_table{
	border: 1px solid #ccc;
	height: 500px;
	overflow: auto;
	padding: 20px;
}

.list-group-item.active {
    background-color: #f0f0f0;
    border-color: #dddddd;
    color: #555;
}
.list-group-item.active:hover {
    background-color: #f0f0f0;
    border-color: #dddddd;
    color: #555;
}

.list-group-item:hover {
    background-color: #ffffff;
    color: #555;
}

.right {
	float: right;
}

.left {
	float: left;
}



.navbar{
	z-index: 10;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0px;
    margin-left: 0px;
}




.background_img{
	position: absolute;
    top: 14%;
    left: 6%;
    z-index: -50;
}

.background_img_2{
	position: absolute;
    top: 14%;
    left: 6%;
    z-index: -100;
}


.main_header{
	margin: 0px;
	
}


.main_header h3{
	color: #FFFFFF;
	font-size: 1.4em;
	line-height: 1.42857143;
	margin: 10px;
	cursor: default;
}

.main_logo{
	
	vertical-align: middle;
	margin: 16px;
}



.pannel{
	border: 1px solid #ccc;
	
}

.pannel_header{
	
	width: 100%;
	height: 40px;
	margin-left: 0px;
}

.pannel_header h4{
	
	display:inline-block;
	vertical-align:middle;
	color: #FFFFFF;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 700;
    margin: 8px;
    cursor: default;
}

.pannel_content{
	
	padding: 30px 30px 30px 30px;
}

.link{
	cursor:pointer;
	
}

@media (max-width: 850px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  
  .navbar-collapse>ul>li{
	
	margin-left:20px;
}
}

header{
	
	z-index: 9000;
}
.se-pre-con {

	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9;
	top: 0px;
	background: rgba(0,0,0,0.40);
}


#overlay_container{
  width: 100%;
  margin: auto;
  height: 832px;

  position: relative;
}

#overlay_container_network_table{

  margin: auto;
  height: 100%;
  background: #e9e9e9; 
  position: relative;
}

#overlay_network_table {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  top: 0px;
  background: rgba(255,255,255,0.80);
}

.overlay_network {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  top: 0px;
  background: rgba(255,255,255,0.80);
}





#network_content {
  width: 100%;
  height: 100%;

}




#direct_download_message {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  top: 0px;
  background: rgba(255,255,255,0.80);
}

#direct_download_panel{
	border: 3px solid #e6e6e6;
	background: #ffffff; 
	margin: 260px auto;
	max-width: 520px;
	text-align: center; 

}
#direct_download_inner_panel{
	position: relative;
	padding: 20px;
	border: 3px solid #dcdcdc;
	
}


.message_panel{
	border: 3px solid #e6e6e6;
	background: #ffffff; 
	margin: 260px auto;
	max-width: 440px;
	text-align: center; 
}


.message_inner_panel{
	position: relative;
	padding: 20px;
	border: 3px solid #dcdcdc;
	
}


.loader_image_panel{
	border: 3px solid #e6e6e6;
	background: #ffffff; 
	margin: 260px auto;
	max-width: 320px;
	text-align: center; 

}
#loader_image_inner_panel{
	position: relative;
	padding: 20px;
	border: 3px solid #dcdcdc;
	
}

.slider {
	position: absolute;
  width: 100px;
  height: 100px;
  top:34px;
  right:90px;
}
.slide1,.slide2,.slide3,.slide4,.slide5{
  background-repeat: no-repeat;
  position: absolute;
  max-width: 100px;
  height: 100px;
  width: 100px;
  height: 100px;
}
.slide1 {
	background-size: cover;
    animation:fade 12s infinite;
-webkit-animation:fade 12s infinite;

} 
.slide2 {
      background-size: cover;
    animation:fade2 12s infinite;
-webkit-animation:fade2 12s infinite;
}
.slide3 {
      background-size: cover;
    animation:fade3 12s infinite;
-webkit-animation:fade3 12s infinite;
}
.slide4 {
      background-size: cover;
    animation:fade4 12s infinite;
-webkit-animation:fade4 12s infinite;
}
.slide5 {
      background-size: cover;
    animation:fade5 12s infinite;
-webkit-animation:fade5 12s infinite;
}

.slider_features {
	position: relative;

}
.slide_features1,.slide_features2,.slide_features3,.slide_features4,.slide_features5{
	background-repeat: no-repeat;
  position: absolute;

}
.slide_features1 {
	background-size: cover;
    animation:fade 4s infinite;
-webkit-animation:fade 4s infinite;

} 
.slide_features2 {
      background-size: cover;
    animation:fade2 4s infinite;
-webkit-animation:fade2 4s infinite;
}
.slide_features3 {
      background-size: cover;
    animation:fade3 4s infinite;
-webkit-animation:fade3 4s infinite;
}
.slide_features4 {
      background-size: cover;
    animation:fade4 4s infinite;
-webkit-animation:fade4 4s infinite;
}
.slide_features5 {
      background-size: cover;
    animation:fade5 4s infinite;
-webkit-animation:fade5 4s infinite;
}



@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

