@CHARSET "ISO-8859-1";



h4 {
	
	color: #333333;
	margin: 0px;
}

h5 {
	
	font-weight: bold;
}
.navbar {
    margin-bottom: 0px;
}

.bold{
	font-weight: bold;
}


.border{
	
	border: 1px solid #ccc;
}

.logo{
	
	vertical-align: middle;
	margin: 10px;
}

.container {
    width: 90%;
}

#login{
	width: 40%;
	margin: 10% auto;
	text-align: center;
}

#myNavbar{
	 z-index: 10000;
	 padding-left: 0px;
	
}
.container-fluid{
	
	padding-left: 0px;
}


.navbar {
    border-radius: 0px;

}

.nav-header {

    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    cursor: default;
    margin: 0px;
}

.shadow{
	height: 1px;
	width: 100%;
	background: #CCCCCC;

}

.hidden{
    display: none;
}

.footer{
	background: #e7e7e7;
}

.large{
    background-color: rgba(0,0,0,0.65);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
    padding: 15% 15%;
    height: 100%;
    z-index: 1001;
    overflow-y: scroll;
}

.noscroll { overflow: hidden; }

.checkbox{
	
	margin-top: 0px;
}

.upload_table{
	border: 1px solid #ccc;
	height: 500px;
	overflow: auto;
	padding: 20px;
}

.list-group-item.active {
    background-color: #f0f0f0;
    border-color: #dddddd;
    color: #555;
}
.list-group-item.active:hover {
    background-color: #f0f0f0;
    border-color: #dddddd;
    color: #555;
}

.list-group-item:hover {
    background-color: #ffffff;
    color: #555;
}

.right {
	float: right;
}

.left {
	float: left;
}



.navbar{
	z-index: 10;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0px;
    margin-left: 0px;
}




.background_img{
	position: absolute;
    top: 14%;
    left: 6%;
    z-index: -50;
}

.background_img_2{
	position: absolute;
    top: 14%;
    left: 6%;
    z-index: -100;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 54px; }


.main_header{
	margin: 0px;
	
}


.main_header h3{
	color: #FFFFFF;
	font-size: 1.4em;
	line-height: 1.42857143;
	margin: 10px;
	cursor: default;
}

.main_logo{
	
	vertical-align: middle;
	margin: 16px;
}



.pannel{
	border: 1px solid #ccc;
	
}

.pannel_header{
	
	width: 100%;
	height: 40px;
	margin-left: 0px;
}

.pannel_header h4{
	
	display:inline-block;
	vertical-align:middle;
	color: #FFFFFF;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 700;
    margin: 8px;
    cursor: default;
}

.pannel_content{
	
	padding: 30px 30px 30px 30px;
}

.link{
	cursor:pointer;
	
}

@media (max-width: 850px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  
  .navbar-collapse>ul>li{
	
	margin-left:20px;
}
}

header{
	
	z-index: 9000;
}
.se-pre-con {

	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9;
	top: 0px;
	background: rgba(0,0,0,0.40);
}