@CHARSET "ISO-8859-1";

body{
	background-color: #f8f8f8;
}

h3 {
	
	color: #5cb85c;
	font-weight: bold;
}

.search_outer_panel{
	background-color: #FFFFFF;
    height: 500px;
    width: 80%;
	border: 1px solid #ccc;
	padding: 20px;
	margin: 20px auto;
	
}

.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

* html .ui-autocomplete {
  height: 100px;
}


.search_inner_panel{
	position: relative;
	
	width: 100%;
	height: 300px;
	margin: auto;
}

.search_header{
	width: 80%;
	height: 40%;
	padding: 0 20 0 20;
	margin: 0 0 20px;
	
}

.search_header h4{
	color: #5cb85c;
	font-size: 24px;
}

.search_panel{
	
	width: 100%;
	height: 60%;
	border: 1px solid #ccc;
	padding: 0%;
}

.input-group{
	
	margin: 0 0 20px;
	width: 80%;
	
}

.nav-pills2{
	
	margin: auto;
}


.table-network{
	
	width: 90%;
}

.table-network tr td{
	padding: 1%;
	
}

.table-network th{
	padding: 1%;
	color: #5cb85c;
	
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active {
    color: #fff;
    background-color: #5cb85c;
}

.tab-content{

	
	width: 100%;
	height: 260px;
	padding-top: 2%;


}

.navbar {
    margin-bottom: 0px;
}

.string_example{
	margin-left: 10px;
	
}


.organism_select{
	width: 200px;
	
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #dddddd;
}


.footable > tfoot .pagination {
    margin: 0;
}
.pagination-centered {
    text-align: center;
}

.pagination ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

.pagination ul > li {
    display: inline;
}
li {
    line-height: 20px;
}

user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}
.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus {
    color: #999999;
    cursor: default;
    background-color: transparent;
}
.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.pagination ul > .active > a, .pagination ul > .active > span {
    color: #999999;
    cursor: default;
}
.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #f5f5f5;
}

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}



.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active {

	color: #337ab7;
    background-color: #dddddd;
    
	
	
	
}

.pill{
	
	margin: 20px;
	font-weight: bold;
	font-size: 140%;
	border: 1px solid #ccc;
	color: #5cb85c;
	background-color: #eeeeee;
}

.data_settings{
	

}

#cy {
    height: 600px;
    width: 80%;
    left: 0;
    top: 0;
    border: 1px solid #ccc;
    margin: 20px auto 20px;
    background-color: #FFFFFF;
}

.results_panel{
	
	min-height: 400px;
    width: 76%;

}

.footable-filtering {
	display:none;
}



.ui-slider .ui-slider-handle {
    height: 20px;
    width: 40px;
    padding-left: 5px; 
    color: #f6931f;
    font-weight: bold;
}