@CHARSET "ISO-8859-1";

body, body * {
    font-family: Century Gothic, sans-serif;
}

h1,h2,h3{
	font-family: Impact, Charcoal, sans-serif;
}
main{

	background-color: #e9eee9;
}
 
.menu_item:hover {background-color: #f1f1f1;}

.dropdown-menu > li > div > a {
    display: block;
    padding: 3px 5px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
    vertical-align:middle;
}

#huri_img {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.row{
	
	margin: 0px 0px 10px;
}

.network_row{
	
	margin: 0px 0px 0px;
}

.clear { clear: both; }

.result_row{
	min-height: 360px;
	margin: 0px 0px 10px;
	width: 100%;
  	text-align: center;
  	padding: 2%;
}

.button_row{
	margin: 0px 0px 10px;
	width: 100%;
  	text-align: center;
}

.results_panel{

	min-height: 300px;
    margin: 10px auto 10px;
    background-color: #FFFFFF;
	margin: auto;
}

.navbar-collapse>ul>li{
	
	margin-left:0px;
}
.tab-pane{


	min-height: 300px;
	min-width: 700px;
    background-color: #FFFFFF;
    padding-top: 40px;
    
}



.tab-content{
	text-align: initial;
	display: inline-block;
	padding-top: 1%;

}

.result_row{
	min-height: 360px;
	margin: 0px 0px 10px;
}

#network{
	
	margin: 0px 0px 30px;
}


.qtip {

    max-width: 600px;


}

.interactor_B_qtip{
	
	cursor: default;
}

.reference_qtip{
	
	cursor: default;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.link{
	cursor:pointer;
	
}

.summary_panel{
	
    width: 100%;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    margin: 20px auto 20px;
}

.settings_panel{
	
	height: 760px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    margin: 20px auto 20px;
}

.download_panel{
	
	height: 760px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    margin: 20px auto 20px;
}

#cy {
    height: 760px;
    width: 100%;
    left: 0;
    top: 0;
    border: 1px solid #ccc;
    margin: 0px auto 0px;
    background-color: #FFFFFF;
}

#no_cy {
    height: 100px;
    width: 90%;
    left: 0;
    top: 0;
    border: 1px solid #ccc;
    margin: 0px auto 20px;
    background-color: #FFFFFF;
}


.clear { clear: both; }

.nav-pills2{
	
	margin: auto;
}


.table-network{
	
	width: 90%;
}

.table-network tr td{
	padding: 1%;
	
}

.table-network th{
	padding: 1%;
	color: #5cb85c;
	
}


.navbar {
    margin-bottom: 0px;
}

.string_example{
	margin-left: 10px;
	
}


.organism_select{
	width: 200px;
	
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #dddddd;
}



.pagination-centered {
    text-align: center;
}

.pagination ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

.pagination ul > li {
    display: inline;
}
li {
    line-height: 20px;
}

user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}
.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus {
    color: #999999;
    cursor: default;
    background-color: transparent;
}
.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.pagination ul > .active > a, .pagination ul > .active > span {
    color: #999999;
    cursor: default;
}
.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #f5f5f5;
}

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}



.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {

	color: #337ab7;
    background-color: #dddddd;
    
	
	
	
}

.pill{
	
	margin: 20px;
	font-weight: bold;
	font-size: 140%;
	border: 1px solid #ccc;
	color: #5cb85c;
	background-color: #eeeeee;
}



.footable-filtering {
	display:none;
}



.ui-slider .ui-slider-handle {
    height: 20px;
    width: 40px;
    padding-left: 5px; 
    color: #f6931f;
    font-weight: bold;
}

h3{
	margin: 10px;
	margin-top: 0px;
	margin-left: 0px;	
}

#downloads{
	
	padding-bottom: 40px;
}

.circle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 16px;
    height: 16px;

}

.line {
	margin-top: 7px;
    width: 60px;
    height: 5px;

}

#minimize_summary{
	width: 90%;
    border: 1px solid #ccc;
    margin: 20px auto 20px;
    background-color: #FFFFFF;
    padding: 20px;
}

textarea {
    resize: both;
    overflow: auto;
}


.search_box{
	min-width:100%;
min-height:100%;
}

.network_menu{
	width: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 0px auto 0px;
    background-color: #F8F8F8;
	padding-left: 70px;
}

.summary_menu_max{
	width: 90%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 0px auto 0px;
    background-color: #F8F8F8;
	min-height: 35px;
	padding: 0.4%;
}

.summary_menu_min{
	width: 90%;
    border: 1px solid #ccc;
    margin: 0px auto 0px;
    background-color: #F8F8F8;
	min-height: 35px;
	padding: 0.4%;
}

.cy-nav>li>a {
	
	padding: 5px 10px 5px 10px;
}

.cy-nav-right>li>a {
	
	padding: 5px 10px 5px 10px;
}

.cy-navbar{
	
	min-height: 0px;
}

.btn-default{
	background-color: #F2F2F2;
	
}

#filter{
	
	float: right;	
}


.cy-nav{
	border-left: 1px solid #ccc;
	
}

#target  .navbar-header {
        float: none;
    }
#target .navbar-left, #target .navbar-right {
        float: none !important;
    }
#target .navbar-toggle {
        display: block;
    }
#target .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
#target  .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
#target .navbar-collapse.collapse {
        display: none!important;
    }
#target  .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
#target .navbar-nav>li {
        float: none;
    }
#target  .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
#target  .collapse.in{
        display:block !important;
    }
#target .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
#target .navbar-nav>li>a {
	    padding-top: 10px;
	    padding-left: 30px;
	    padding-bottom: 10px;
	    line-height: 20px;
	}
	
#target .navbar-nav {
	    margin: 0px;
	}
	



@media (max-width: 815px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
    	.navbar-nav>li>a {
	    padding-top: 10px;
	    padding-left: 30px;
	    padding-bottom: 10px;
	    line-height: 20px;
	}
	
	.navbar-nav {
	    margin: 0px;
	}
	
	.cy-nav-right{
		border-left: 0px;
	}
	
	.tab-pane{



		min-width: 0px;
	    background-color: #FFFFFF;
	    padding-top: 40px;
    
	}
	#filter{
		margin-top: 10px;
		float: left;	
	}
	
	.navbar-nav .open .dropdown-menu {
	
		background-color: #FFFFFF;
		
	}
	

	
	.network_menu {
	    width: 100%;
	    border-top: 1px solid #ccc;
	    border-left: 1px solid #ccc;
	    border-right: 1px solid #ccc;
	    margin: 0px auto 0px;
	    background-color: #F8F8F8;
	    padding-left: 0px;
	}
	#cy-nav{
	
		padding-right: 0px;
	
	}
	
	#cy_nav_menu_list{
		border-top: 1px solid #ccc;
		background: #f8f8f8;
	}
	#cy_nav_menu_list_legend{
		background: #f8f8f8; 
		margin-bottom: 10px; 
		border-bottom: 1px solid #ccc;
	}
	
	.container-fluid{
	
		padding: 0px;
	
	}
	
	.cy-nav{
		border-left: 0px;
	}
	

}
.info-navbar-toggle{
	display: block;
	position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.info-navbar-toggle .icon-bar {
    background-color: #888;
}

.info-navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

.info-navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.loader{
	border: 1px solid #ccc;
	background: #ffffff; 
	margin: 260px auto;
	max-width: 400px;
	padding: 20px;
	text-align: center; 
	background: #f2f2f2;

}

.no_ie{
	border: 1px solid #ccc;
	background: #ffffff; 
	margin: 260px auto;
	max-width: 400px;
	padding: 20px;
	text-align: center; 
	background: #f2f2f2;

}

#summary{
	
	width: 100%;
    margin: auto;
    background-color: #FFFFFF;
    padding: 10px 10px 0px 10px;
}

.dropdown-menu>li>form>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.dropdown-menu>li>form>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.slow-spin {
  -webkit-animation: fa-spin 3s infinite linear;
  animation: fa-spin 3s infinite linear;
}

.fix .fa-spin {
    -webkit-transform-origin: 50% calc(50% - .5px);
    transform-origin: 50% calc(50% - .5px);
}

#loading_border{
	
	border: 1px solid #ccc;
	width: 60%;
	margin: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}


.bokeh {
    border: 0.01em solid rgba(150, 150, 150, 0.1);
    border-radius: 50%;
    font-size: 100px;
    height: 1em;
    list-style: outside none none;
    margin: 0 auto;
    position: relative;
    top: 35%;
    width: 1em;
}

.bokeh li {
    position: absolute;
    width: .2em;
    height: .2em;
    border-radius: 50%;
}

.bokeh li:nth-child(1) {
    left: 50%;
    top: -2px;
    margin: 0 0 0 -.1em;
    background: #cc0000;
    -webkit-transform-origin: 50% 250%;
    transform-origin: 50% 250%;
    -webkit-animation: 
        rota2 2s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    animation: 
        rota2 2s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
}

.bokeh li:nth-child(2) {
    top: 50%; 
    right: 0;
    margin: -.1em 0 0 0;
    background: #3c78d8;
    -webkit-transform-origin: -150% 50%;
    transform-origin: -150% 50%;
    -webkit-animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
    animation: 
        rota 1.86s linear infinite,
        opa 4.29s ease-in-out infinite alternate;
}

.bokeh li:nth-child(3) {
    left: 50%; 
    bottom: 0;
    margin: 0 0 0 -.1em;
    background: #3c78d8;
    -webkit-transform-origin: 50% -150%;
    transform-origin: 50% -150%;
    -webkit-animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
    animation: 
        rota 1.45s linear infinite,
        opa 5.12s ease-in-out infinite alternate;
}

.bokeh li:nth-child(4) {
    top: 50%; 
    left: 0;
    margin: -.1em 0 0 0;
    background: #3c78d8;
    -webkit-transform-origin: 250% 50%;
    transform-origin: 250% 50%;
    -webkit-animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
    animation: 
        rota 1.72s linear infinite,
        opa 5.25s ease-in-out infinite alternate;
}

.bokeh li:nth-child(5) {
    left: 50%;
    top: -2px;
    margin: 0 0 0 -.1em;
    background: #3c78d8;
    -webkit-transform-origin: 50% 250%;
    transform-origin: 50% 250%;
    -webkit-animation: 
        rota2 1.6s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
    animation: 
        rota2 1.6s linear infinite,
        opa 3.67s ease-in-out infinite alternate;
}


@-webkit-keyframes rota {
    from { }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes rota {
    from { }
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes rota2 {
    from { }
    to { -webkit-transform: rotate(-360deg); }
}

@keyframes rota2 {
    from { }
    to { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}

#particles-js{height:200px; border-radius: 50%; width:200px; margin: 5px auto 0px; background-image: url(../images/bg-fireworks-colour5.svg); background-repeat: no-repeat; background-size: cover;  background-attachment: fixed; background-position: 50% 50%; } 


