@CHARSET "ISO-8859-1";

.row{
	
	margin: 0px 0px 10px;
}

.network_row{
	
	margin: 0px 0px 0px;
}

.clear { clear: both; }

.results_panel{

	width: 76%;

    margin: 10px auto 10px;
    background-color: #FFFFFF;
	margin: auto;
}

.tab-pane{
		min-height: 300px;
	width: 100%;
	border: 1px solid #ccc;
    background-color: #FFFFFF;
    padding-top: 3%;
}

.results_panel{
	
	min-height: 300px;
    width: 76%;

}

.qtip {

    max-width: 800px;
    min-width: 400px;

}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}