@CHARSET "ISO-8859-1";

body{
	background-color: #EEEEEE;
}

.search_outer_panel{
	background-color: #FFFFFF;
	width: 80%;
	height: 300px;
	border: 1px solid #ccc;
	padding: 20px;
	margin: auto;
	
}

.search_inner_panel{
	position: relative;
	
	width: 100%;
	height: 40%;
	margin: auto;
}

.search_header{
	width: 80%;
	height: 40%;
	padding: 0 20 0 20;
	margin: auto;
	
}

.search_header h4{
	color: #5cb85c;
}

.search_panel{
	
	width: 80%;
	height: 40%;
	border: 1px solid #ccc;
	padding: 20px;
	margin: auto;
}

#cy {
    height: 400px;
    width: 100%;
    left: 0;
    top: 0;
    border: 1px solid #ccc;
}