# /web/bundles/
# /app/bootstrap.php.cache
/app/cache/*
# /app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
# /app/phpunit.xml
# /build/
# /vendor/
# /bin/
# /composer.phar
application_aryan_mishra_multi_protocol_support.md
gsoc_openpip_2_proposal_draft.md

# Python cache artifacts
__pycache__/
*.pyc
node_modules/
.next/
.next