<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='shortcut icon' href='{{ asset('assets/images/tor_ibin_icon.ico') }}' />
	{% block stylesheets %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>

</head>

<body>


    {% block content %}{% endblock %}



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{% block javascripts %}{% endblock %}
</body>
</html>
