/*  property_view_style.css
    Author: Hussam Fetyan
    This file applies style sheets to property_view.html
*/


body{
    position: relative;
    font-family: arial, sans-serif;
}


div{
    position: absolute;
    top: 0px;
    left: 270px;
    margin: 0px;

}

section, header{
    border-bottom: 2px solid black;
    padding: 15px;
}

footer{
    padding: 15px;
    font-size: 0.9em;
    text-align: center;
}

div h1{
    text-align: center;
}

aside{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
    margin: 0px;
    padding: 10px;
    background-color: #B2C2CC;
}

aside p img{
    width: 50%;
    margin: 0px 25%;

}

.hidden{
    display: none;
}

.large{
    background-color: rgba(0,0,0,0.65);
    position:fixed;
    top: 0px;
    left: 0px;
    width: 70%;
    margin: 0px;
    padding: 25px 15%;
    height: 100%;
    z-index: 1;
    text-align: center;
}

.large img{
    width: 100%;
    max-height: 90%;
}

.large span{
    margin-top: 20px;

}
